
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi xẽ liên hệ với quý khách trong thời gian sớm nhát và giao hạng đúng hẹn</h2>
<p>
    @Html.ActionLink("Về trang chủ","Index","BookStore")
</p>

