@model IEnumerable<ShopSach.Models.SACH1>
@{
    ViewBag.Title = "SPTheochude";
    Layout = "~/Views/Shared/_layoutUser.cshtml";
}

<div class="center_title_bar">Sách Theo Chủ Đề</div>
<div class="prod_container">
    @foreach (var sach in Model)
    {
        <div class="prod_box">
            <div class="top_prod_box"></div>
            <div class="center_prod_box">
                <div class="product_title"><a href="@Url.Action("details","BookStore", new {maSach = sach.Masach})">@sach.Tensach</a></div>
                <div class="product_img"><a href="details.html"><img style="width:100px; height:100px" src="~/images/@sach.Anhbia" alt="" border="0" /></a></div>
                <div class="prod_price"><span class="reduce">$350.00</span> <span class="price">@sach.Giaban.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("en-US"))</span></div>
            </div>
            <div class="bottom_prod_box"></div>
            <div class="prod_details_tab">
                <a href="" title="header=[Add to cart] body=[&nbsp;] fade=[on]">
                    <img src="~/images/cart.gif" alt="" border="0" class="left_bt" />
                </a>
                <a href="" title="header=[Specials] body=[&nbsp;] fade=[on]">
                    <img src="~/images/favs.gif" alt="" border="0" class="left_bt" />
                </a>
                <a href="" title="header=[Gifts] body=[&nbsp;] fade=[on]">
                    <img src="~/images/favorites.gif" alt="" border="0" class="left_bt" />
                </a>
                <a href="@Url.Action("details","BookStore", new {maSach = sach.Masach})" class="prod_details">details</a>
            </div>
        </div>

    }
</div>